<fieldset class="fieldset">
	<legend>Palestrantes</legend>
	<p>
		Insira o nome e um mini-currículo do palestrante
	</p>
	<form [formGroup]="usoForm" (ngSubmit)="onSubmit()">
		<div class="form-row">
			<div class="form-group col-md-12">
				<input type="text" class="form-control" formControlName="nome" placeholder="Nome" required />
			</div>
			<div class="form-group col-md-12">
				<textarea rows="5" class="form-control" formControlName="sobre" placeholder="Mini-Currículo" required></textarea>
			</div>
			<div class="form-group col-md-2">
				<button class="btn btn-primary" [disabled]="!this.usoForm.value.nome">Salvar</button>
			</div>
		</div>
	</form>
</fieldset>
<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th class="text-center">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of arrItems">
				<td>{{ item.nome }}</td>
				<td class="text-center">
					<a (click)="openEdit(item.id, item.nome, item.sobre)">
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</a>
					<a (click)="openRemove(content, item.id)">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div [ngClass]="{'loading': loading}"></div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Remover o palestrante</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Você deseja remover o palestrante? <br />
			<b>Essa operação não poderá ser desfeita.</b></p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.dismiss('cancel click')">Não</button>
		<button type="button" class="btn btn-danger" ngbAutofocus (click)="remove()">Sim</button>
	</div>
</ng-template>